{
  "presets": [
    ["@babel/preset-env", {
      "modules": false,
      "targets": {
        "chrome": 40,
        "edge": 14,
        "firefox": 40,
        "safari": 9
      }
    }]
  ],
  "plugins": [
    "../src/index.js"
  ]
}
